@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Charis+SIL&family=Josefin+Sans:ital,wght@1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Josefin-Sans', josefin-sans;
    border:none;
}

/*HEADER*/
.header-wrapper {
    height: 100vh;
    width: 100%;
    background: url('comida-vegana1.jpg');
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: backgroundTransitions 20s ease-in-out infinite;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffffff;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}
h2 {
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 3rem;
    align-items: center;
    justify-content: center;

}


.menu-items a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    padding: 3rem 4rem;
    border: 2px solid transparent;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}
p {
    align-items: center;
    display: flex;
    color: #ffffff;
    font-family:'Josefin Sans';
    letter-spacing: 2px;
    font-size: 25px;
    border-width: 8px;
}
@keyframes backgroundTransitions {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}


/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-size: large;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
    color: rgb(73, 121, 92);
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);

}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}
#toggle {
    display: none;
}
/* Menu*/
.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 0px 0px #ffffff;
    border-radius: 100%;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;

}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px;
    color: rgb(254, 255, 254);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
}
/*animação do menu */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #ffffff;
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #ffffff;
    top: 48px;
}
#toggle + .checkbox {
    background-color: transparent;
}
#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax rgb(73, 121, 92);
    z-index: 1;
    background-color: rgb(73, 121, 92);
}
#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/*HOME*/

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgb(214, 92, 6);
    margin: auto;
    font-size: 'Josefin-Sans';
}
.container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgb(75, 185, 205);
    margin: auto;
    font-size: 'Josefin-Sans';
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.card-container1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 0rem 0 0;
    background-image: url('quem-somos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
.card-wrapper1 {
    height:400px;
    margin: auto;
    background-color: rgb(75, 185, 205);
    display: flex;  text-align: center;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card1 {
    height: 450px;
    width: 800px;
    margin: 0rem 0 0;
    background-image: url('receitas-comidas-veganas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;

}

.card-text1 {
    width: 50%;
    font-family: 'Josefin-Sans';
    letter-spacing: 2px;
    color: #ffffff;
    display: flex;
    margin-top: 0rem;
    text-align: center;
    }
    
    .card-text {
        width: 40%;
        letter-spacing: 2px;
        color: white;
        font-family: 'Josefin-Sans'
    
    }
    
    .card-wrapper {
        text-align: center;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /*banner*/
    
.card-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: rgb(214, 92, 6);
        margin: auto;
}


.container {
    margin-top: auto;
}

.card-container {
    flex-direction: row-reverse;
}

.container .card-container:nth-child(1),
.container .card-container:nth-child(3) {
    flex-direction: row-reverse;
}
.card {
    height: 450px;
    width: 800px;
}

.card-text {
    width: 90%; 
    margin-top: 2rem;
    text-align: center;

}

.card-container1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.container1 .card-container1:nth-child(1),
.container1 .card-container1:nth-child(3) {
    flex-direction: row-reverse;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 200, 40);
}

@media (max-width: 400px) {
    .menu-items {
        display: flex;
        flex-direction: column;
    }
}